.container{
    min-height:100vh;
    background-color:rgb(36, 131, 214);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    width:80%;
    margin-right: -15px;
    overflow: hidden ;
    scrollbar-width: none;
}

.table::-webkit-scrollbar {
    width: 0; 
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

.datagrid{
    /* min-width: none; */
    height: 500px;
    scroll-behavior: smooth;
    overflow-y: scroll !important;
}

.addNewContactContainer{
    margin-right: 10px;
    padding:10px;
    border:1px solid rgb(184, 182, 182);
    align-items: center;
    border-radius:15px;
    cursor: pointer; 
}