.container{
    min-height:100vh;
    background-color:rgb(36, 131, 214);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    height:400px;
    width:80%;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
}

.addNewContactContainer{
    margin-right: 10px;
    padding:10px;
    border:1px solid grey;
    align-items: center;
    border-radius:15px;
    cursor: pointer; 
}